<div class="card border-primary mb-3 " style="max-width: 120rem;"
*ngIf="post">
    <div class="card-header">
        <h4>Title: {{post.title}}</h4>
        </div>
    <div class="card-body">
      <h6 class="card-title">Creator: {{post.creatorName}}</h6>
      <p class="card-text">{{post.content}}</p>
      <div *ngIf= "isAuthor(post.creatorId) || isAdmin()">
        <button  class="btn btn-small" (click) = deletePost(post.id) > delete </button>
      </div>
    <div  >
        <p>Write Comment</p>
        <form [formGroup] = "form" (submit) = submit()>
        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input class="form-control"  formControlName = "content">
            <button type="submit" class="btn btn-sm"> submit </button>
        </div>
      </form>
    </div>
    <p>Comments:</p>
    <app-comment *ngFor="let comment of comments$ | async"
    [comment] = (comment)
    (delete) = deleteComment($event)
    ></app-comment>
</div>
