<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Registration Form</h1>
        <form [formGroup] = "form" (submit) = submit()>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input class="form-control" placeholder="Full Name" formControlName = "fullName">
          </div>
          <div class="alert alert-danger" *ngIf="f.fullName.errors?.required && f.fullName.touched" >
              Name is required
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input class="form-control" placeholder="Email Address" type="email" formControlName = "email" >
          </div>
          <div class="alert alert-danger" *ngIf="f.email.errors?.required && f.email.touched" >
            Name is required
        </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;" formControlName = "phonePrefix" >
              <option value="{{pref}}" *ngFor="let pref of numberPrefixes" >{{pref}}</option>
            </select>
            <input class="form-control" placeholder="Phone number" type="text" formControlName = "phoneNumber" >
          </div>
          <div class="alert alert-danger" *ngIf="f.phoneNumber.errors?.required && f.phoneNumber.touched" >
            PhoneNumber is required
        </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" formControlName = "possition"  >
              <option value="{{pos}}" *ngFor = "let pos of possitions">{{pos}}</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="f.possition.errors?.required && f.possition.touched" >
            Possition is required
        </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Create password" type="password" formControlName = "password" >
          </div>
          <div class="alert alert-danger" *ngIf="f.password.errors?.required && f.password.touched" >
            Password is required
        </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Repeat password" type="password" formControlName = "passwordConfirm"  > 
          </div>
          <div class="alert alert-danger" *ngIf="f.passwordConfirm.errors?.confirmedValidator" >
            Passwords don't match!
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
          </div>
          <p class="text-center">Have an account? <a routerLink = "login">Log In</a> </p>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>