<section id="viewComments">
  <ng-template [ngIf]="post">
   <app-post
   [post] = "post"
   ></app-post>
  </ng-template>
  <div class="post post-content">
    <form #f="ngForm" (ngSubmit)="postComment()" id="commentForm">
      <label>Comment</label>
      <textarea required ngModel name="body" type="text"></textarea>
      <input type="submit" [disabled]="f.invalid" value="Add Comment" id="btnPostComment">
    </form>
  </div>
  <div *ngFor="let commentInfo of comments$ | async">
    <app-comment
    [commentInfo] = "commentInfo"
    (deleteEvent) = "deleteComment($event)"
    ></app-comment>
  </div>
</section>