<div class="container w-50 mt-5"*ngIf= "currentMovie">
    <h3 class="panel-title">{{currentMovie.title}}</h3>
      <img class="thumbnail" src="http://image.tmdb.org/t/p/w500{{currentMovie.imageUrl}}">
      <ul class="list-group">
        <li class="list-group-item">Genres:
          <span *ngFor="let genre of currentMovie.genresTitles"> {{genre}} </span>
        </li>
        <li class="list-group-item">Release Date: {{currentMovie.releaseDate}} </li>
      </ul>
      <!-- <a *ngIf="movie.homepage" href="" target="_blank" class="btn btn-default">Visit Movie
        Website</a> -->
  </div>