<div class="container w-50 mt-5">
    <h3 class="panel-title">{{movieDetails.title}}</h3>
      <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movieDetails.imageURL}}">
      <ul class="list-group">
        <li class="list-group-item">Genres:
          <span *ngFor="let genre of movieDetails.genresTitles">/{{genre}}/ </span>
        </li>
        <li class="list-group-item">Release Date: {{movieDetails.releaseDate}}</li>
        <p class="list-group-item, text-center">Description:<p>
        <li class="list-group-item">Description: {{movieDetails.description}}</li>
      </ul>
      <div class= "text-center" >
      <a href="https://www.themoviedb.org/" target="_blank"
       class="btn btn-default">Visit Website</a>
    </div>
  </div>