<div class="jumbotron">
	<div class="container">
	  <h1>Find a movie</h1>
	  <p>Search for a movie using the form below:</p>
	  <form #form="ngForm" (ngSubmit)="search(form.value)">
		<input type="text" class="form-control" name="search" ngModel>
		<button class="btn btn-default mt-2" type="submit">Search</button>
	  </form>
	</div>
 </div>
 <div *ngIf="length">
  <h4>Found Movies</h4>
  <div class = "row" >
      <div class = "col-lg-2" *ngFor="let movie of foundMovies" >
          <app-movie [movie] = movie ></app-movie>
      </div>
  </div>
  </div>
